<!DOCTYPE html>
<html>
<head>
    <title>Mapa de Google</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <div class="buttons-panel">
            <a href="{{ url_for('agregar_contenedor') }}" class="action-button add-button">Agregar Contenedor</a>
            <a href="{{ url_for('eliminar_contenedor') }}" class="action-button delete-button">Eliminar Contenedor</a>
            <a href="{{ url_for('editar_contenedor') }}" class="action-button edit-button">Editar Contenedor</a>

            <div class="containers-list-panel">
                <h2>Contenedores en el Mapa</h2>
                <!-- Barra de búsqueda agregada -->
                <input type="text" id="filtroBusqueda" onkeyup="filtrarContenedores()" placeholder="Buscar por texto..." class="search-bar">
                <div id="container-cards-container">
                    <!-- Las tarjetas de los contenedores se cargarán aquí -->
                </div>
            </div>
        </div>

        <div class="map-box-container">
            <h1 class="map-title">Mapa de la Ciudad de Chilecito</h1>
            <div id="map"></div>
        </div>
    </div>

    <script>
        // Los datos de los contenedores se pasan desde Flask a JavaScript
        const datosContenedores = JSON.parse('{{ contenedores | tojson | safe }}');
    </script>
    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
    <!-- Se agrega &libraries=geometry para poder calcular distancias -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD42PTKxmjYoXylhpUf2rzpMkMEfnAogI0&libraries=geometry&callback=iniciarMap"></script>
    <!-- NOTA: Reemplaza TU_API_KEY con tu clave de API de Google Maps -->
</body>
</html>
